.vscode/
.vscode-server/

*.pyc
__pycache__

model/
model.ignore/
thinker/model.ignore/*.*
auto_test/test_x86/build

resource/
model.pkg
*.pkg
data*/
dump_all/

bin/
lib/
build/
build_*/

scripts/*/
scripts/cmake_install.cmake
scripts/CMakeCache.txt
scripts/Makefile

thinker.egg-info
cmake_*
CMakeCache*
CMakeFiles

dist
tags

memory.txt
